  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span class="head_title">Tu Libreria Favorita</span>
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md>
          <button mat-button (click)="home()">Inicio</button>
          <button mat-button *ngIf="!logged==true" (click)="login()">Iniciar sesión</button>
          <button mat-button *ngIf="logged==false" (click)="register()">Registrarse</button>
          <button mat-button [matMenuTriggerFor]="menu" *ngIf="logged==true" id="menu_usuario">{{user?.name}}</button>
              <mat-menu #menu="matMenu">
                  <button mat-menu-item *ngIf="admin"[routerLink]="['/admin_detail']">Administrar Usuarios</button>
                  <button mat-menu-item *ngIf="!admin" [routerLink]="['/user_detail']">Mostrar Perfil</button>
                  <button mat-menu-item *ngIf="!admin" [routerLink]="['/cart_detail']">Mi Carrito</button>
                  <button mat-menu-item *ngIf="admin"[routerLink]="['/upload_data']">Subir Archivo</button>
                  <button mat-menu-item  *ngIf="logged==true" [routerLink]="['/edit_user',user.id]">Editar Perfil</button>
                  <button mat-menu-item (click)="logout()">Salir</button>
              </mat-menu>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  
    <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav>
        <mat-nav-list>
          <a mat-list-item (click)="home()">Inicio</a>
          <a mat-list-item *ngIf="!logged==true" (click)="login()">Iniciar sesión</a>
          <a mat-list-item *ngIf="logged==false" (click)="register()">Registrarse</a>
          <a mat-list-item [matMenuTriggerFor]="menu" *ngIf="logged==true" id="menu_usuario">{{user?.name}}</a>
              <mat-menu #menu="matMenu">
                  <button mat-menu-item *ngIf="admin"[routerLink]="['/admin_detail']">Administrar Usuarios</button>
                  <button mat-menu-item *ngIf="!admin" [routerLink]="['/user_detail']">Mostrar Perfil</button>
                  <button mat-menu-item *ngIf="!admin" [routerLink]="['/cart_detail']">Mi Carrito</button>
                  <button mat-menu-item *ngIf="admin"[routerLink]="['/upload_data']">Subir Archivo</button>
                  <button mat-menu-item  *ngIf="logged==true" [routerLink]="['/edit_user',user.id]">Editar Perfil</button>
                  <button mat-menu-item (click)="logout()">Salir</button>
              </mat-menu>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>
        <div class="fondo">
  
    <div class ="centrado example-container">
      <h1>{{title}}</h1>
      <br>
      <div class="ubicacion">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="user.id ==3">
      
          <!-- Name Column -->
          <ng-container matColumnDef="book">
            <th mat-header-cell *matHeaderCellDef> Libro </th>
            <td mat-cell *matCellDef="let element"> 
              {{element.book_id.title}} 
            </td>
          </ng-container>
        
          <!-- Email Column -->
          <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef> Autor </th>
            <td mat-cell *matCellDef="let element"> {{element.book_id.author}} </td>
          </ng-container>
        
        
        
           <!-- options Column -->
           <ng-container matColumnDef="options">
              <th mat-header-cell *matHeaderCellDef> Opciones </th>
              <td mat-cell *matCellDef="let element"> 
                <button mat-raised-button color="warn" (click)="deleteBookCart(element.id)">Borrar</button>
              </td>
            </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
              
      </div>
    </div>
  </div>
    </mat-sidenav-content>
    </mat-sidenav-container>
  </div>  