<!--
<!DOCTYPE html5>
<div class="fondo">

  <div class ="centrado example-container">
    <h1>{{title}}</h1>
    <button mat-raised-button color="primary" (click)= "ingresar(google)">Google</button>
    <br>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
          <div [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <mat-form-field class="tam" color="accent">
              <input matInput placeholder="Email" type="text" name="email" [(ngModel)]="user.email" #username="ngModel" required >
            </mat-form-field>
            <div *ngIf="f.submitted && !username.valid">Email es Requerido</div>
          </div>
          <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <mat-form-field class ="tam">
              <input matInput placeholder="Contraseña" type="password"
                        name="password" [(ngModel)]="user.password"
                          #password="ngModel" required [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
              <div *ngIf="f.submitted && !password.valid">El password es requerido</div>
          </div>
          <div>
              <button mat-raised-button color="primary" [disabled]="loading">Iniciar sesión</button>
          </div>
      </form>
  </div>
</div>
-->
<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="head_title">Tu Libreria Favorita</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <button mat-button (click)="home()">Inicio</button>
        <button mat-button (click)="register()">Registrarme</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <!--<a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>-->
        <a mat-list-item (click)="home()">Inicio</a>
        <a mat-list-item (click)="register()">Registrarme</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div class="fondo">

  <div class ="centrado example-container">
    <h1>{{title}}</h1>
    <button mat-raised-button color="primary" (click)= "ingresar(google)">Google</button>
    <br>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
          <div [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <mat-form-field class="tam" color="accent">
              <input matInput placeholder="Email" type="text" name="email" [(ngModel)]="user.email" #username="ngModel" required >
            </mat-form-field>
            <div *ngIf="f.submitted && !username.valid">Email es Requerido</div>
          </div>
          <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <mat-form-field class ="tam">
              <input matInput placeholder="Contraseña" type="password"
                        name="password" [(ngModel)]="user.password"
                          #password="ngModel" required [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
              <div *ngIf="f.submitted && !password.valid">El password es requerido</div>
          </div>
          <div>
              <button mat-raised-button color="primary" [disabled]="loading">Iniciar sesión</button>
          </div>
      </form>
  </div>
</div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>