table {
    width: 100%;
}
  
  .divider{
    width:8px;
    height:auto;
    display:inline-block;
  }
h1{
    font-family: 'Cookie', cursive;
    font-size: 50px;
    text-align:center;
  }

.ubicacion{
    padding: 1% 8%;

}
  

