.centrado{
    text-align: left;
    align-content: center;
    margin: auto;
    width: 35%;
    padding: 70px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.tam{
  width: 100%;
}


.fondo{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-image: url("https://image.freepik.com/free-photo/abstract-small-leaves-on-table_23-2147694503.jpg");
}