<!--
<!DOCTYPE html5>


<div class="fondo">
    <div class ="centrado example-container">
        <h1>{{title}}</h1>
        <button mat-raised-button color="primary" (click)= "ingresar(google)">Google</button>
        <br>
          <form (ngSubmit) ="onSubmit()">
            <mat-form-field class="tam" color="primary">
                <input matInput placeholder="Nombre" [(ngModel)]="user.name" name="name" required>
            </mat-form-field>
            <br>
            <mat-form-field class="tam">
              <input matInput  [(ngModel)]="user.password"  name="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <br>  
            <mat-form-field class="tam">
              <input matInput placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="user.email"  name="email" >
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <br>
            <br>
    
            <button mat-raised-button color="primary" type ="submit">Guardar</button>
          </form>
    </div>
</div>
-->

<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="head_title">Tu Libreria Favorita</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <button mat-button (click)="home()">Inicio</button>
        <button mat-button (click)="login()">Iniciar sesión</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <!--<a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>-->
        <a mat-list-item (click)="home()">Inicio</a>
        <a mat-list-item (click)="login()">Iniciar sesión</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div class="fondo">

  <div class ="centrado example-container">
    <h1>{{title}}</h1>
    <button mat-raised-button color="primary" (click)= "ingresar(google)">Google</button>
    <br>
      <form (ngSubmit) ="onSubmit()">
            <mat-form-field class="tam" color="primary">
                <input matInput placeholder="Nombre" [(ngModel)]="user.name" name="name" required>
            </mat-form-field>
            <br>
            <mat-form-field class="tam">
              <input matInput  [(ngModel)]="user.password"  name="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <br>  
            <mat-form-field class="tam">
              <input matInput placeholder="Email" [formControl]="emailFormControl" [(ngModel)]="user.email"  name="email" >
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <br>
            <br>
    
            <button mat-raised-button color="primary" type ="submit">Guardar</button>
      </form>
  </div>
</div>
  </mat-sidenav-content>
  </mat-sidenav-container>
</div>