.fondo{
  position:fixed;
  /* padding:0;
  margin:0; */
  /* top:0;
  left:0; */
  width: 100%;
  height: 100%;
  background-image: url('../../assets/background.jpg');
  }
 
  .contenedor {
    margin:10%;
    max-width: 500px;
    padding: 25px;
    align-content: center;
    display: flex;

    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;  
  }
  @media(max-width: 500px) {
    .contenedor{
      max-width: 250px;
      width: 100%;
    }
    form{
      max-width: 120px;
    }
    #titleid{
      font-size: 15px;
    }

    /* progress{
      
    } */

    .download{
      margin-bottom: 40px;
    }
  }
  .contenedor_formulario{
    display: flex;
  }
  
  .download {
    background: #1081ff;
    color: #FFFFFF;
    padding: 10px 20px;
    margin-bottom: 20px;
  }

  a {
    text-decoration: underline;
    color:#FFFFFF;
  } 