<div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span class="head_title">Tu Libreria Favorita</span>
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md>
          <button mat-button (click)="home()">Inicio</button>
          <button mat-button *ngIf="!logged==true" (click)="login()">Iniciar sesión</button>
          <button mat-button *ngIf="logged==false" (click)="register()">Registrarse</button>
          <button mat-button [matMenuTriggerFor]="menu" *ngIf="logged==true" id="menu_usuario">{{user?.name}}</button>
              <mat-menu #menu="matMenu">
                  <button mat-menu-item *ngIf="admin"[routerLink]="['/admin_detail']">Administrar Usuarios</button>
                  <button mat-menu-item *ngIf="!admin" [routerLink]="['/user_detail']">Mostrar Perfil</button>
                  <button mat-menu-item *ngIf="!admin" [routerLink]="['/cart_detail']">Mi Carrito</button>
                  <button mat-menu-item *ngIf="admin"[routerLink]="['/upload_data']">Subir Archivo</button>
                  <button mat-menu-item  *ngIf="logged==true" [routerLink]="['/edit_user',user.id]">Editar Perfil</button>
                  <button mat-menu-item (click)="logout()">Salir</button>
              </mat-menu>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  
    <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav>
        <mat-nav-list>
          <a mat-list-item (click)="home()">Inicio</a>
          <a mat-list-item *ngIf="!logged==true" (click)="login()">Iniciar sesión</a>
          <a mat-list-item *ngIf="logged==false" (click)="register()">Registrarse</a>
          <a mat-list-item [matMenuTriggerFor]="menu" *ngIf="logged==true" id="menu_usuario">{{user?.name}}</a>
              <mat-menu #menu="matMenu">
                  <button mat-menu-item *ngIf="admin"[routerLink]="['/admin_detail']">Administrar Usuarios</button>
                  <button mat-menu-item *ngIf="!admin" [routerLink]="['/user_detail']">Mostrar Perfil</button>
                  <button mat-menu-item *ngIf="!admin" [routerLink]="['/cart_detail']">Mi Carrito</button>
                  <button mat-menu-item *ngIf="admin"[routerLink]="['/upload_data']">Subir Archivo</button>
                  <button mat-menu-item  *ngIf="logged==true" [routerLink]="['/edit_user',user.id]">Editar Perfil</button>
                  <button mat-menu-item (click)="logout()">Salir</button>
              </mat-menu>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>
        <div class="fondo">
          <!-- <h1>{{title}}</h1> -->
          <!-- <div class="contenedor">
              <div class="contenedor_formulario">
                <h1 class="is-size-1">Subir archivos a Cloud Storage</h1>
                <p class="download">URL de descarga: <a href="#" target="_blank">Descargar</a></p>
                <form>
                  <div class="file has-name is-boxed">
                    <label class="file-label">
                      <input class="file-input" type="file" name="resume">
                      <span class="file-cta">
                        <span class="file-label">
                          Elegir un archivo…
                        </span>
                      </span>
                      <span class="file-name">
                        No hay un archivo seleccionado
                      </span>
                    </label>
                  </div>
                  <hr>
                  <progress class="progress is-large is-success" value="0" max="100">0%</progress>
                  <button class="button is-success is-large">Subir archivo</button>
                </form>
              </div>
            </div> -->
            <div class="contenedor">
                <div class="contenedor_formulario">
                  <h1 class="is-size-1" id="titleid">Subir Archivos a Cloud Storage</h1>
                  <p class="download" *ngIf="finalizado">URL de descarga: <a href="{{ URLPublica }}" target="_blank">Descargar</a></p>
                  <form [formGroup]="archivoForm" (ngSubmit)="subirArchivo()">
                    <div class="file has-name is-boxed">
                      <label class="file-label">
                        <input class="file-input" type="file" formControlName="archivo" (change)="cambioArchivo($event)">
                        <!-- <span class="file-cta">
                          <span class="file-label">
                      
                          </span>
                        </span> -->
                        <span class="file-name">
                          {{ mensajeArchivo }}
                        </span>
                      </label>
                    </div>
                    <hr>
                    <progress *ngIf="porcentaje > 0 && porcentaje < 100" class="progress is-large is-success" value="{{porcentaje}}" max="100">{{porcentaje}}%</progress>
                    <button [ngClass]="{'button': true, 'is-success': true, 'is-large': true, 'is-loading': porcentaje > 0 && porcentaje < 100}" [disabled]="!archivoForm.valid && (porcentaje > 0 && porcentaje < 100)">Subir archivo</button>
                  </form>
                </div>
              </div>
          </div>
    </mat-sidenav-content>
    </mat-sidenav-container>
  </div>  