<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-create-book></app-create-book>
<app-create-user></app-create-user>
<app-book-detail></app-book-detail>
<app-login></app-login> -->

<router-outlet></router-outlet>
