.navbar{
    justify-content: space-between;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
  }
  span{
    padding-right: 1rem;
  }
  
  button{
    padding-right: 10px;
  }

  h1{
    font-family: 'Cookie', cursive;
    font-size: 50px;
    text-align:center;
}
