h1{
    font-family: 'Cookie', cursive;
    font-size: 50px;
    text-align:center;
  }


.centrado{
  font-size: 20px;
  text-align:center;
  padding: 2em;
}

.fondo{
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  width: 100%;
  height: 100%;
}

/* .fondo{
  width: 100%;
  height: 100%;
  background-image: url('../../assets/aGirlReading.jpg');
  background-size: auto 30%;
} */


.fondo{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-image: url("https://image.freepik.com/free-photo/abstract-small-leaves-on-table_23-2147694503.jpg");
}