<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="head_title">Tu Libreria Favorita</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <button mat-button (click)="home()">Inicio</button>
        <button mat-button *ngIf="!logged==true" (click)="login()">Iniciar sesión</button>
        <button mat-button *ngIf="logged==false" (click)="register()">Registrarse</button>
        <button mat-button [matMenuTriggerFor]="menu" *ngIf="logged==true" id="menu_usuario">{{user?.name}}</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="admin"[routerLink]="['/admin_detail']">Administrar Usuarios</button>
                <button mat-menu-item *ngIf="!admin" [routerLink]="['/user_detail']">Mostrar Perfil</button>
                <button mat-menu-item *ngIf="!admin" [routerLink]="['/cart_detail']">Mi Carrito</button>
                <button mat-menu-item *ngIf="admin"[routerLink]="['/upload_data']">Subir Archivo</button>
                <button mat-menu-item  *ngIf="logged==true" [routerLink]="['/edit_user',user.id]">Editar Perfil</button>
                <button mat-menu-item (click)="logout()">Salir</button>
            </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item (click)="home()">Inicio</a>
        <a mat-list-item *ngIf="!logged==true" (click)="login()">Iniciar sesión</a>
        <a mat-list-item *ngIf="logged==false" (click)="register()">Registrarse</a>
        <a mat-list-item [matMenuTriggerFor]="menu" *ngIf="logged==true" id="menu_usuario">{{user?.name}}</a>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="admin"[routerLink]="['/admin_detail']">Administrar Usuarios</button>
                <button mat-menu-item *ngIf="!admin" [routerLink]="['/user_detail']">Mostrar Perfil</button>
                <button mat-menu-item *ngIf="!admin" [routerLink]="['/cart_detail']">Mi Carrito</button>
                <button mat-menu-item *ngIf="admin"[routerLink]="['/upload_data']">Subir Archivo</button>
                <button mat-menu-item  *ngIf="logged==true" [routerLink]="['/edit_user',user.id]">Editar Perfil</button>
                <button mat-menu-item (click)="logout()">Salir</button>
            </mat-menu>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div class="fondo">

  <div class ="centrado example-container">
    <h1>{{title}}</h1>
    <br>
    <div class="centrado">
      <strong>Nombre: </strong><p>{{user?.name}}</p>
      <strong>Email: </strong><p>{{user?.email}}</p>
    </div>
  </div>
</div>
  </mat-sidenav-content>
  </mat-sidenav-container>
</div>