
<!--
<mat-toolbar color="primary" class="navbar">
  
</mat-toolbar>
<!DOCTYPE html5>
<div class="fondo">

    <div class ="centrado example-container">
        <h1>{{title}}</h1>
          <form (ngSubmit) ="onSubmit()">
            <mat-form-field class="tam" color="primary">
                <input matInput placeholder="Titulo" [(ngModel)]="book.title" name="title" required>
            </mat-form-field>
            <br>
            <mat-form-field class="tam" color="primary">
                <input matInput placeholder="Autor" [(ngModel)]="book.author" name="author" required>
            </mat-form-field>
            <br>
            <mat-form-field class="tam" color="primary">
                <input matInput placeholder="Descripcion" [(ngModel)]="book.description" name="description" required>
            </mat-form-field>
            <br>
            <mat-form-field class="tam" color="primary">
                <mat-select placeholder = "Estatus" [(ngModel)]="book.status" name = "status">
                  <mat-option *ngFor="let status of listStatus" [value] = "status">
                    {{status}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            <br>
    
            <mat-form-field class="tam" color="primary">
                <mat-select placeholder = "Genero" [(ngModel)]="book.id_genre" name = "id_genre">
                  <mat-option *ngFor="let genre of listGenre" [value] = "genre.id">
                    {{genre.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            <br>
            <mat-form-field class="tam" color="primary">
                <input matInput placeholder="Lenguaje" [(ngModel)]="book.language" name="language" required>
            </mat-form-field>
    
             <mat-form-field class="tam" color="primary">
              <input matInput [matDatepicker]="picker" placeholder="Cuando salio el libro"  [(ngModel)]="book.publishedDate" name="publishedDate" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
    
            <button mat-raised-button color="primary" type ="submit">Guardar</button>
          </form>
    </div>
    
</div>

-->



<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="head_title">Tu Libreria Favorita</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <button mat-button (click)="home()">Inicio</button>
        <button mat-button *ngIf="!logged==true" (click)="login()">Iniciar sesión</button>
        <button mat-button *ngIf="logged==false" (click)="register()">Registrarse</button>
        <button mat-button [matMenuTriggerFor]="menu" *ngIf="logged==true" id="menu_usuario">{{user?.name}}</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="admin"[routerLink]="['/admin_detail']">Administrar Usuarios</button>
                <button mat-menu-item *ngIf="!admin" [routerLink]="['/user_detail']">Mostrar Perfil</button>
                <button mat-menu-item *ngIf="!admin" [routerLink]="['/cart_detail']">Mi Carrito</button>
                <button mat-menu-item *ngIf="admin"[routerLink]="['/upload_data']">Subir Archivo</button>
                <button mat-menu-item  *ngIf="logged==true" [routerLink]="['/edit_user',user.id]">Editar Perfil</button>
                <button mat-menu-item (click)="logout()">Salir</button>
            </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item (click)="home()">Inicio</a>
        <a mat-list-item *ngIf="!logged==true" (click)="login()">Iniciar sesión</a>
        <a mat-list-item *ngIf="logged==false" (click)="register()">Registrarse</a>
        <a mat-list-item [matMenuTriggerFor]="menu" *ngIf="logged==true" id="menu_usuario">{{user?.name}}</a>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="admin"[routerLink]="['/admin_detail']">Administrar Usuarios</button>
                <button mat-menu-item *ngIf="!admin" [routerLink]="['/user_detail']">Mostrar Perfil</button>
                <button mat-menu-item *ngIf="!admin" [routerLink]="['/cart_detail']">Mi Carrito</button>
                <button mat-menu-item *ngIf="admin"[routerLink]="['/upload_data']">Subir Archivo</button>
                <button mat-menu-item  *ngIf="logged==true" [routerLink]="['/edit_user',user.id]">Editar Perfil</button>
                <button mat-menu-item (click)="logout()">Salir</button>
            </mat-menu>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div class="fondo">

  <div class ="centrado example-container">
    <h1>{{title}}</h1>
    <br>
    <form (ngSubmit) ="onSubmit()">
      <mat-form-field class="tam" color="primary">
          <input matInput placeholder="Titulo" [(ngModel)]="book.title" name="title" required>
      </mat-form-field>
      <br>
      <mat-form-field class="tam" color="primary">
          <input matInput placeholder="Autor" [(ngModel)]="book.author" name="author" required>
      </mat-form-field>
      <br>
      <mat-form-field class="tam" color="primary">
          <input matInput placeholder="Descripcion" [(ngModel)]="book.description" name="description" required>
      </mat-form-field>
      <br>
      <mat-form-field class="tam" color="primary">
          <mat-select placeholder = "Estatus" [(ngModel)]="book.status" name = "status">
            <mat-option *ngFor="let status of listStatus" [value] = "status">
              {{status}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      <br>

      <mat-form-field class="tam" color="primary">
          <mat-select placeholder = "Genero" [(ngModel)]="book.id_genre" name = "id_genre">
            <mat-option *ngFor="let genre of listGenre" [value] = "genre.id">
              {{genre.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      <br>
      <mat-form-field class="tam" color="primary">
          <input matInput placeholder="Lenguaje" [(ngModel)]="book.language" name="language" required>
      </mat-form-field>

       <mat-form-field class="tam" color="primary">
        <input matInput [matDatepicker]="picker" placeholder="Cuando salio el libro"  [(ngModel)]="book.publishedDate" name="publishedDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button mat-raised-button color="primary" type ="submit">Guardar</button>
    </form>
  </div>
</div>
  </mat-sidenav-content>
  </mat-sidenav-container>
</div>