<div class="fondo">
    <br>
    <button class="center" *ngIf="admin" mat-raised-button color="accent" type ="submit" [routerLink]="['/create_book']">Crear Nuevo libro</button>
    <div class="center">
        <mat-card class="example-card" *ngFor="let book of books;">
            <mat-card-header>
              <mat-card-title>{{book?.title}}</mat-card-title>
              <mat-card-subtitle>{{book?.author}}</mat-card-subtitle>
            </mat-card-header>
            <div class="centerCard">
                <!-- <img mat-card-image src="{{book?.img}}"> -->
                <div class="card-body">
                    <mat-card-content>
                        <strong>Descripcion: </strong><p>{{book?.description}}</p>
                        <strong>Estatus: </strong><p>{{book?.status}}</p>
                        <strong>Lenguaje: </strong><p>{{book?.language}}</p>
                        <strong>Genero: </strong><p>{{book?.id_genre.name}}</p>
                    </mat-card-content>
                </div>
            </div>
            <mat-card-actions class="button-style">
                <tweet url={{url}} text={{text}}{{book?.title}}{{conector}}{{book?.author}}{{caritas}}></tweet>
                <!-- <pin-it url={{url}} media={{imageUrl}} description={{text}}{{book?.title}}{{conector}}{{book?.author}}{{caritas}}></pin-it> -->
                <button *ngIf="admin" mat-raised-button color="accent" type ="submit" [routerLink]="['/edit_book',book.id]">Editar</button>
                <button *ngIf="admin" mat-raised-button color="warn" (click)="deleteBook(book.id)">Borrar</button>
                <button *ngIf="user" mat-raised-button color="accent" (click)="addCart(book.id)" type ="submit" >Comprar</button>
                <!-- <button *ngIf="user" mat-raised-button color="accent" type ="submit" [routerLink]="['/comprar_libro',book.id]">Comprar</button> -->
          </mat-card-actions>
        </mat-card>
    </div>
</div>