.example-card {
    margin: 30px;
    max-width: 600px;
    padding: 25px;
    align-content: center;

    margin-left: auto;
    margin-right: auto;
    /* width: 8em */
  }


img{
  background-size: cover;
  width: 300px;
  height: 400px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

.centerCard{
  /* display: inline-block;  */
  display: flex;
  /* border:1px solid gray; */
  /* margin-bottom:1rem; */
}

.card-body{
  display: flex;
  flex-direction: column;
  margin-left:1rem;
}

.divider{
  width:8px;
  height:auto;
  display:inline-block;
}

strong{
  font-size: 15px;
}

.button-style{
  margin-left: 50x;
}

.fondo{

  width: auto;
  height: auto;
  background-image: url('../../assets/background.jpg');
}
