/* You can add global styles to this file, and also import other style files */

// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "./theme";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');

h1{
    font-family: 'Cookie', cursive;
    font-size: 50px;
    text-align:center;
}

.head_title{
    font-family: 'Cookie', cursive;
    font-size: 50px;
}

@media(max-width: 400px) {
    .head_title{
        font-family: 'Cookie', cursive;
        font-size: 30px;
    }
}