@import '~@angular/material/theming';
@include mat-core();

$ucb-primary-palette: (
    50 : #E3E9E0,
    100 : #C6D3C1,
    200 : #B8C8B1,
    300 : #AABDA1,
    400 : #9BB292,
    500 : #AABDA1,
    600 : #9BB292,
    700 : #8DA782,
    800 : #7B9272,
    900 : #6A7D62,
    A100 : #7B9272,
    A200 : #6A7D62,
    A400 : #586851,
    A700 : #475441,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$ucb-accent-palette: (
    50 : #FBF0E3,
    100 : #F6E2C7,
    200 : #F2D3AB,
    300 : #EDC58F,
    400 : #E9B672,
    500 : #E4A756,
    600 : #E0993A,
    700 : #DB8A1E,
    800 : #C0791A,
    900 : #A46816,
    A100 : #F6E2C7,
    A200 : #CC9F64,
    A400 : #AF8956,
    A700 : #927247,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$ucb-warm-palette: (
    50 : #FBF0E3,
    100 : #F6E2C7,
    200 : #F2D3AB,
    300 : #EDC58F,
    400 : #E9B672,
    500 : #E4A756,
    600 : #E0993A,
    700 : #DB8A1E,
    800 : #C0791A,
    900 : #A46816,
    A100 : #F6E2C7,
    A200 : #CC9F64,
    A400 : #AF8956,
    A700 : #927247,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$my-app-primary: mat-palette($ucb-primary-palette);
$my-app-accent:  mat-palette($ucb-accent-palette);
$my-app-warn:    mat-palette($ucb-warm-palette);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);