<!--
<!DOCTYPE html5>

<html lang="en">
<title>Tu libreria favorita</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>


<mat-toolbar color="primary" class="navbar">
        <h1>Tu Libreria Favorita</h1>
        <div class="centerCard">
                <button mat-raised-button *ngIf="!logged==true" color="primary" (click)="login()" id="boton_enter">Entrar</button>
                <button mat-raised-button *ngIf="logged==false" color="primary" (click)="register()" id="boton_registrarse">Registrarme</button>
                <button mat-button [matMenuTriggerFor]="menu" *ngIf="logged==true" id="menu_usuario">{{user?.name}}</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngIf="admin"[routerLink]="['/admin_detail']">Administrar Usuarios</button>
                    <button mat-menu-item *ngIf="!admin" [routerLink]="['/user_detail']">Mostrar Perfil</button>
                    <button mat-menu-item *ngIf="!admin" [routerLink]="['/cart_detail']">Mi Carrito</button>
                    <button mat-menu-item  *ngIf="logged==true" [routerLink]="['/edit_user',user.id]">Editar Perfil</button>
                    <button mat-menu-item (click)="logout()">Salir</button>
                </mat-menu>
        </div>
</mat-toolbar>

<div class ="centrado example-container">
  
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Inicio"> 
           <div class="fondo"></div>
    </mat-tab>
    <mat-tab label="Nuestros Libros"> <app-book-detail></app-book-detail> </mat-tab>
    <mat-tab label="Los mas vendidos"> </mat-tab>
    <mat-tab label="Sobre nosotros"> 
        <div class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
                <img class="w3-image" src="https://files.merca20.com/uploads/2017/01/bigstock-Stack-of-colorful-books-grung-121527032.jpg" alt="Hamburger Catering" width="1600" height="800">
                <div class="w3-display-bottomleft w3-padding-large w3-opacity">
                    <h1 class="w3-xxlarge">Tu Libreria Favorita</h1>
                </div>
        ></div>
            <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
                    <h2 class="w3-wide">Tu Libreria Favorita</h2>
                    <p class="w3-opacity"><i>We love books</i></p>
                    <p class="w3-justify">Tenemos una libreria pensada para ti, con todos los libros que puedas pedir. Estamos ubicados en la ciudad de Cochabamba!. Encuentranos!</p>
            </div>
    </mat-tab>
    <mat-tab label="Contactanos"> 
        
        <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
                    <h2 class="w3-wide w3-center">Contactanos ;D</h2>
                    <div class="w3-row w3-padding-32">
                        <div class="w3-col m6 w3-large w3-margin-bottom">
                            <i class="fa fa-map-marker" style="width:30px"></i> Cochabamba-Bolivia <br>
                            <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
                            <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
                        </div>
                        <div class="w3-col m6">
                            <form action="/action_page.php" target="_blank">
                                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                                    <div class="w3-half">
                                        <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
                                    </div>
                                    <div class="w3-half">
                                        <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
                                    </div>
                                </div>
                                <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
                                <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
                            </form>
                        </div>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3807.4742399032016!2d-66.14947448528046!3d-17.389014268819775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93e37400ac89b9cd%3A0x6c5c5e9b76fa90eb!2sEncantalibros!5e0!3m2!1sen!2sbo!4v1559001134085!5m2!1sen!2sbo" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

                


    </mat-tab>
  </mat-tab-group>

  
</div>

<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
        <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">Tu Libreria Favorita</a></p>
    </footer>
-->


<!DOCTYPE html5>

<html lang="en">
<title>Tu libreria favorita</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="head_title">Tu Libreria Favorita</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <button mat-button *ngIf="!logged==true" (click)="login()">Iniciar sesión</button>
        <button mat-button *ngIf="logged==false" (click)="register()">Registrarse</button>
        <button mat-button [matMenuTriggerFor]="menu" *ngIf="logged==true" id="menu_usuario">{{user?.name}}</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="admin"[routerLink]="['/admin_detail']">Administrar Usuarios</button>
                <button mat-menu-item *ngIf="!admin" [routerLink]="['/user_detail']">Mostrar Perfil</button>
                <button mat-menu-item *ngIf="!admin" [routerLink]="['/cart_detail']">Mi Carrito</button>
                <button mat-menu-item *ngIf="admin"[routerLink]="['/upload_data']">Subir Archivo</button>
                <button mat-menu-item  *ngIf="logged==true" [routerLink]="['/edit_user',user.id]">Editar Perfil</button>
                <button mat-menu-item (click)="logout()">Salir</button>
            </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item *ngIf="!logged==true" (click)="login()">Iniciar sesión</a>
        <a mat-list-item *ngIf="logged==false" (click)="register()">Registrarse</a>
        <a mat-list-item [matMenuTriggerFor]="menu" *ngIf="logged==true" id="menu_usuario">{{user?.name}}</a>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="admin"[routerLink]="['/admin_detail']">Administrar Usuarios</button>
                <button mat-menu-item *ngIf="!admin" [routerLink]="['/user_detail']">Mostrar Perfil</button>
                <button mat-menu-item *ngIf="!admin" [routerLink]="['/cart_detail']">Mi Carrito</button>
                <button mat-menu-item *ngIf="admin"[routerLink]="['/upload_data']">Subir Archivo</button>
                <button mat-menu-item  *ngIf="logged==true" [routerLink]="['/edit_user',user.id]">Editar Perfil</button>
                <button mat-menu-item (click)="logout()">Salir</button>
            </mat-menu>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div class="fondo">

  <div class ="centrado example-container">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Nuestros Libros"> <app-book-detail></app-book-detail> </mat-tab>
        <mat-tab label="Sobre nosotros"> 
            <div class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
                    <img class="w3-image" src="https://files.merca20.com/uploads/2017/01/bigstock-Stack-of-colorful-books-grung-121527032.jpg" alt="Hamburger Catering" width="1600" height="800">
                    <div class="w3-display-bottomleft w3-padding-large w3-opacity">
                        <h1 class="w3-xxlarge">Tu Libreria Favorita</h1>
                    </div>
            </div>
                <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
                        <h2 class="w3-wide">Tu Libreria Favorita</h2>
                        <p class="w3-opacity"><i>We love books</i></p>
                        <p class="w3-justify">Tenemos una libreria pensada para ti, con todos los libros que puedas pedir. Estamos ubicados en la ciudad de Cochabamba!. Encuentranos!</p>
                </div>
        </mat-tab>
        <mat-tab label="Contactanos"> 
            
            <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
                        <h2 class="w3-wide w3-center">Contactanos ;D</h2>
                        <div class="w3-row w3-padding-32">
                            <div class="w3-col m6 w3-large w3-margin-bottom">
                                <i class="fa fa-map-marker" style="width:30px"></i> Cochabamba-Bolivia <br>
                                <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
                                <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
                            </div>
                            <div class="w3-col m6">
                                <form action="/action_page.php" target="_blank">
                                    <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                                        <div class="w3-half">
                                            <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
                                        </div>
                                        <div class="w3-half">
                                            <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
                                        </div>
                                    </div>
                                    <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
                                    <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
                                </form>
                            </div>
                        </div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3807.4742399032016!2d-66.14947448528046!3d-17.389014268819775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93e37400ac89b9cd%3A0x6c5c5e9b76fa90eb!2sEncantalibros!5e0!3m2!1sen!2sbo!4v1559001134085!5m2!1sen!2sbo" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </mat-tab>
    </mat-tab-group>
    <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
        <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">Tu Libreria Favorita</a></p>
    </footer>     
  </div>
</div>
  </mat-sidenav-content>
  </mat-sidenav-container>
</div>


