.example-card {
    margin: 30px;
    max-width: 600px;
    padding: 25px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centerCard{
  display: flex;
}

.card-body{
  display: flex;
  flex-direction: column;
  margin-left:1rem;
}

.divider{
  width:8px;
  height:auto;
  display:inline-block;
}

strong{
  font-size: 15px;
}


#boton_registrarse{
    margin-left: 0px;
}


#menu_usuario{
  margin-left: 0px;
}
#boton_enter{
  margin-right: 30px;
}
.navbar{
  justify-content: space-between;
}
span{
  padding-right: 1rem;
}

button{
  padding-right: 10px;
}

.navbar{
  justify-content: space-between;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}
span{
  padding-right: 1rem;
}

button{
  padding-right: 10px;
}

h1{
  font-family: 'Cookie', cursive;
  font-size: 50px;
  text-align:center;
}


.fondo{
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  width: 100%;
  height: 100%;
}
